/* ========================= */
/* GLOBAL CSS               */
/* ========================= */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0px auto 0px auto;
  width: 100%;
  min-width: 402px;
  max-width: 1440px;
  height: auto;
}

/* Global Styles: Colours */

:root {
  --yellow: 245, 218, 7;
  --red: 245, 35, 0;
  --green: 0, 245, 139;
  --blue: 45, 0, 239;
  --grey: 145, 171, 160;
  --warm-olive: 117, 108, 38;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

.yellow {
  color: rgba(var(--yellow));
}
.red {
  color: rgba(var(--red));
}
.green {
  color: rgba(var(--green));
}
.blue {
  color: rgba(var(--blue));
}
.grey {
  color: rgba(var(--grey));
}
.warm-olive {
  color: rgba(var(--warm-olive));
}
.white {
  color: rgba(var(--white));
}
.black {
  color: rgba(var(--black));
}

.yellow-background {
  background-color: rgba(var(--yellow));
}
.yellow-background-opacity-25 {
  background-color: rgba(var(--yellow), 0.25);
}
.yellow-background-opacity-50 {
  background-color: rgba(var(--yellow), 0.5);
}
.red-background {
  background-color: rgba(var(--red));
}
.red-background-opacity-50 {
  background-color: rgba(var(--red), 0.5);
}
.green-background {
  background-color: rgba(var(--green));
}
.green-background-opacity-25 {
  background-color: rgba(var(--green), 0.25);
}
.green-background-opacity-50 {
  background-color: rgba(var(--green), 0.5);
}
.blue-background {
  background-color: rgba(var(--blue));
}
.blue-background-opacity-25 {
  background-color: rgba(var(--blue), 0.25);
}
.blue-background-opacity-50 {
  background-color: rgba(var(--blue), 0.5);
}
.grey-background {
  background-color: rgba(var(--grey));
}
.grey-background-opacity-25 {
  background-color: rgba(var(--grey), 0.25);
}
.warm-olive-background {
  background-color: rgba(var(--warm-olive));
}
.warm-olive-background-opacity-25 {
  background-color: rgba(var(--warm-olive), 0.25);
}
.warm-olive-background-opacity-50 {
  background-color: rgba(var(--warm-olive), 0.5);
}
.white-background {
  background-color: rgba(var(--white));
}
.black-background {
  background-color: rgba(var(--black));
}
.black-background-opacity-25 {
  background-color: rgba(var(--black), 0.25);
}

/* Global Styles: Typography */

:root {
  --font-body-small: 16px;
  --font-body-regular: 18px;
  --font-body-reg-med: 24px;
  --font-body-medium: 24px;
  --font-body-large: 28px;
  --font-sm: 18px;
  --font-med: 18px;
  --font-h6: 18px;
  --font-h5: 28px;
  --font-h4: 32px;
  --font-h3: 32px;
  --font-h2: 48px;
  --font-h1: 48px;
}
@media (min-width: 768px) {
  :root {
    --font-body-small: 16px;
    --font-body-regular: 18px;
    --font-body-reg-med: 24px;
    --font-body-medium: 28px;
    --font-body-large: 32px;
    --font-sm: 18px;
    --font-med: 22px;
    --font-h6: 20px;
    --font-h5: 32px;
    --font-h4: 36px;
    --font-h3: 48px;
    --font-h2: 68px;
    --font-h1: 82px;
  }
}
@media (min-width: 1280px) {
  :root {
    --font-body-small: 18px;
    --font-body-regular: 20px;
    --font-body-reg-med: 28px;
    --font-body-medium: 32px;
    --font-body-large: 36px;
    --font-sm: 20px;
    --font-med: 24px;
    --font-h6: 32px;
    --font-h5: 36px;
    --font-h4: 48px;
    --font-h3: 64px;
    --font-h2: 112px;
    --font-h1: 128px;
  }
}

/* Global Styles: Body Text */

body {
  font-style: normal;
  font-weight: 400;
  font-family: "bodoni-urw", "Georgia", serif;
}

body {
  font-size: var(--font-body-regular);
}
.body-text-small {
  font-size: var(--font-body-small);
}
.body-text-regular {
  font-size: var(--font-body-regular);
}
.body-text-reg-med {
  font-size: var(--font-body-reg-med);
}
.body-text-medium {
  font-size: var(--font-body-medium);
}
.body-text-large {
  font-size: var(--font-body-large);
}

.body-links-regular {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

a {
  cursor: pointer; /* Keeps the hand icon when hovering (optional) */
  color: inherit; /* Makes the link the same color as the surrounding text */
  text-decoration: none; /* Removes the underline */
}

.fa-solid {
  width: 36px;
  font-size: var(--font-body-small);
}

/* Global Styles: Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  font-family: "futura-pt-bold", "Trebuchet MS", sans-serif;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
h4 {
  font-size: var(--font-h4);
}
h5 {
  font-size: var(--font-h5);
}
h6 {
  font-size: var(--font-h6);
}

.font-med {
  font-size: var(--font-med);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

.font-sm {
  font-size: var(--font-sm);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

/* Global Styles: Responsive Top Navigation */

/* Add a black background color to the top navigation */
.top-nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: rgba(var(--white));
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.top-sub-nav-container {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin: 0px auto 0px auto;
  width: 100%;
  min-width: 402px;
  max-width: 1440px;
  height: auto;
}

.top-sub-nav-container a {
  display: block;
  float: left;
  padding: 20px 8px 0px 8px;
  color: rgba(var(--black), 1);
  font-size: 14px;
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  text-align: center;
  text-decoration: none;
}

.top-nav-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Style the links inside the navigation bar */
.top-nav-container a {
  display: block;
  float: left;
  padding: 20px 8px 0px 8px;
  color: rgba(var(--black), 1);
  font-weight: 700;
  font-size: 18px;
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
.top-nav a:hover {
  color: rgba(var(--red), 1);
}

/* Add an active class to highlight the current page */
.top-nav a.active {
  color: rgba(var(--red), 1);
  text-decoration: underline;
}

/* Hide the link that should open and close the top-nav on small screens */
.top-nav-button {
  display: none;
  position: fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.fa-solid-nav {
  font-size: 50px;
}

/* Base styling for the overlay */
.mobile-menu {
  /* Hidden state: Pushed completely off-screen to the left */
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 999; /* Keeps menu on top of all other content */
  transition: transform 0.2s ease-in-out;
  background-color: rgba(var(--red), 1);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overscroll-behavior: contain;
}

/* Active state: Slides into view when button is clicked */
.mobile-menu.active {
  transform: translateX(0);
  overscroll-behavior: contain;
}

/* Simple styling for layout links */
.mobile-menu ul {
  padding: 80px 0px 0px 0px;
  list-style: none;
}

.mobile-menu ul li {
  margin: 19px 0px 0px 16px;
}

.mobile-menu ul li a {
  transition: 0.2s;
  color: rgba(var(--white));
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-large);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.mobile-menu a.active {
  text-decoration: underline;
}

.mobile-menu-logo {
  margin: 35px 0px 0px 16px;
  width: 335px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
   Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .top-nav-container {
    display: flex;
    justify-content: left;
    gap: 48px;
    padding-left: 16px;
  }

  .top-nav a {
    display: none;
  }

  .top-nav-button {
    display: inline-block;
  }
}

/* Global Styles: Scroll to top floating button */

#to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 16px;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
  border: solid 3px rgba(var(--white));
  border-radius: 8px;
  background-color: rgba(var(--red));
  padding: 15px 35px 15px 35px;
  color: rgba(var(--white));
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

#to-top-button:hover {
  background-color: rgba(var(--white));
  color: rgba(var(--red));
}

/* Class added to trigger fade-in */
.to-top-button.fade-in {
  animation: fadeIn 1s forwards;
}

/* Class added to trigger fade-out */
.to-top-button.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}

/* ========================= */
/* HOME PAGE CSS         */
/* ========================= */

.hero-section-mobile {
  margin-top: 100px;
  width: 100%;
}

.hero-section-mobile h1 {
  padding: 0px 0px 0px 16px;
}

.hero-section-mobile h2 {
  padding: 0px 16px 16px 16px;
}

.hero-section-mobile img {
  width: 100%;
}

.hero-section-desktop {
  display: none;
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.hero-section-desktop h1 {
  position: absolute;
  top: 30px;
  left: 16px;
}

.hero-section-desktop h2 {
  position: absolute;
  top: 150px;
  left: 16px;
  line-height: 85%;
}

.hero-section-desktop img {
  width: 100%;
}

.hero-body-text {
  padding: 0px 16px 0px 16px;
}

/* Home page section image left */
.home-page-image-left-section {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.home-page-image-left-section-left {
  position: relative;
  grid-area: 1 / span 12;
  padding: 16px;
  height: 330px;
  overflow: hidden;
}

.home-page-image-left-section-right {
  grid-area: 2 / span 12;
  padding: 16px;
}

/* Home page section image right */
.home-page-image-right-section {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.home-page-image-right-section-left {
  grid-area: 2 / span 12;
  padding: 16px;
}

.home-page-image-right-section-right {
  position: relative;
  grid-area: 1 / span 12;
  padding: 16px;
  height: 330px;
  overflow: hidden;
}

/* Home page image and card */
.home-page-image-left,
.home-page-image-left-no-pad,
.home-page-image-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-page-card {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 48px 16px;
}

.home-page-button {
  cursor: pointer;
  border: 3px solid rgba(var(--black));
  border-radius: 8px;
  background-color: rgba(var(--black));
  padding: 9px 20px;
  width: fit-content;
  color: rgba(var(--white));
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  text-align: center;
}

.home-page-button:hover {
  border: 3px solid rgba(var(--black));
  background-color: rgba(var(--white));
  color: rgba(var(--black));
}

/* ========================= */
/* ARCHITECTURE PAGE CSS     */
/* ========================= */

/* Quick responsive grid layout */
.architecture-card-container {
  display: flex;
  flex-direction: column;
}
.architecture-card {
  border: 1px solid rgba(var(--black), 0.1);
  padding: 16px;
  width: 100%;
}

.architecture-card-image {
  filter: grayscale(100%);
  width: 100%;
  height: 243px;
  object-fit: cover;
}

/* ========================= */
/* BUILDING SUB PAGE CSS     */
/* ========================= */

.building-page-hero-section {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  align-self: stretch;
  margin-top: 100px;
}

.building-page-hero-section-left {
  grid-area: 1 / span 12;
}

.building-page-hero-section-right {
  grid-area: 2 / span 12;
}

.building-page-hero-img {
  display: block;
  flex-shrink: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.building-page-hero-card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 16px 48px 16px;
}

.want-to-know-more-card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 16px 48px 16px;
}

.three-column-container {
  display: grid;
  column-gap: 51px;
  row-gap: 10px;
  align-self: stretch;
  padding: 30px 16px;
}

.three-column-container-one {
  grid-area: 1 / span 1;
}

.three-column-container-two {
  grid-area: 2 / span 1;
}

.three-column-container-three {
  grid-area: 3 / span 1;
}

.one-two-column-container {
  display: grid;
  row-gap: 10px;
  align-self: stretch;
  padding: 30px 16px;
}

.one-two-column-container-one {
  grid-area: 2 / span 1;
  overflow: hidden;
}

.one-two-column-container-two {
  grid-area: 1 / span 1;
  overflow: hidden;
}

.two-one-column-container {
  display: grid;
  row-gap: 10px;
  align-self: stretch;
  padding: 30px 16px;
}

.two-one-column-container-one {
  grid-area: 1 / span 2;
  overflow: hidden;
}

.two-one-column-container-two {
  grid-area: 2 / span 1;
  overflow: hidden;
}

.column-container-img {
  display: block;
  flex-shrink: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  filter: opacity(50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========================= */
/* FOOTER CSS                */
/* ========================= */

.footer-container {
  display: grid;
  grid-template-areas: "footer-container-top-right" "footer-container-bottom-right" "footer-container-bottom";
  column-gap: 51px;
  row-gap: 10px;
  align-self: stretch;
  padding: 50px 16px 65px 16px;
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

.footer-container-left {
  display: none;
  grid-area: footer-container-left;
}

.footer-container-top-right {
  grid-area: footer-container-top-right;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
  text-align: center;
}

.footer-container-bottom-right {
  display: flex;
  grid-area: footer-container-bottom-right;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
  text-align: center;
}

.footer-container-bottom {
  grid-area: footer-container-bottom;
  border-top: 2px solid rgba(var(--white));
  padding: 20px 0 20px 0;
  text-align: center;
  word-spacing: 58px;
}

.footer-container ul {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-med);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  list-style-type: none;
  list-style-position: inside;
}

.footer-container a.active {
  text-decoration: underline;
}

.footer-container li {
  padding-bottom: 28px;
}

.footer-container-bottom a {
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

.footer-form-input {
  margin: 0px 0px 40px 0px;
  border: 3px solid rgba(var(--white));
  border-radius: 8px;
  padding: 9px 20px;
  width: 339px;
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

.footer-form-input::placeholder {
  color: rgba(var(--grey));
}

.footer-form-button {
  cursor: pointer;
  margin: 0px 0px 40px 15px;
  border: 3px solid rgba(var(--white));
  border-radius: 8px;
  background-color: rgba(var(--red));
  padding: 9px 20px;
  color: rgba(var(--white));
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  text-align: center;
}

.footer-form-button:hover {
  background-color: rgba(var(--white));
  color: rgba(var(--red));
}

.footer-container-logo {
  margin-bottom: 35px;
  width: 335px;
}

/* ========================= */
/* MEDIA QUERIES             */
/* ========================= */

@media (min-width: 768px) {
  .black-white {
    color: rgba(var(--white));
  }

  .hero-section-mobile {
    display: none;
  }

  .hero-section-desktop {
    display: inline-block;
  }

  .home-page-image-left-section-left {
    grid-area: 1 / span 7;
    padding: 0px 0px 0px 16px;
    height: 600px;
  }

  .home-page-image-left-section-right {
    grid-area: 1 / span 5;
  }

  .home-page-image-right-section-left {
    grid-area: 1 / span 7;
  }

  .home-page-image-right-section-right {
    grid-area: 1 / span 5;
    padding: 0px 16px 0px 0px;
    height: 600px;
  }

  .home-page-image-left {
    padding: 0px 0px 0px 16px;
  }

  .home-page-image-left-no-pad {
    padding: 0px;
  }

  .home-page-image-right {
    padding: 0px 16px 0px 0px;
  }

  .architecture-card-container {
    flex-direction: row;
  }

  .architecture-card {
    max-width: 33%;
  }

  .building-page-hero-section-left {
    grid-area: 1 / span 7;
  }

  .building-page-hero-section-right {
    grid-area: 1 / span 5;
  }

  .three-column-container-one {
    grid-area: 1 / span 2;
  }

  .three-column-container-two {
    grid-area: 2 / span 1;
  }

  .three-column-container-three {
    grid-area: 2 / span 1;
  }

  .one-two-column-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 51px;
  }

  .one-two-column-container-one {
    grid-area: 1 / span 1;
  }

  .one-two-column-container-two {
    grid-area: 1 / span 1;
  }

  .two-one-column-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 51px;
  }

  .two-one-column-container-one {
    grid-area: 1 / span 1;
  }

  .two-one-column-container-two {
    grid-area: 1 / span 1;
  }

  .footer-container {
    grid-template-areas: "footer-container-left footer-container-top-right" "footer-container-left footer-container-bottom-right" "footer-container-bottom footer-container-bottom";
  }

  .footer-container-left {
    display: block;
  }

  .footer-container-top-right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .footer-container-bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
}

@media (min-width: 1280px) {
  .hero-section-desktop h1 {
    top: 40px;
    left: 122px;
  }

  .hero-section-desktop h2 {
    top: 220px;
    left: 122px;
  }

  .hero-body-text {
    padding: 85px 122px;
  }

  .home-page-image-left-section-left {
    padding-left: 122px;
    height: 650px;
  }

  .home-page-image-left-section-left-no-pad {
    height: 650px;
  }

  .home-page-image-left-section-right {
    padding-right: 122px;
    height: 650px;
  }

  .home-page-image-right-section-left {
    padding-left: 122px;
    height: 650px;
  }

  .home-page-image-right-section-right {
    padding-right: 122px;
    height: 650px;
  }

  .home-page-image-left {
    padding: 0px 0px 0px 122px;
  }

  .home-page-image-right {
    padding: 0px 122px 0px 0px;
  }

  .architecture-card-container {
    padding: 85px 122px;
  }

  .building-page-hero-card {
    padding: 35px 122px 48px 52px;
  }

  .three-column-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 85px 122px;
  }

  .three-column-container-one {
    grid-area: 1 / span 1;
  }

  .three-column-container-two {
    grid-area: 1 / span 1;
  }

  .three-column-container-three {
    grid-area: 1 / span 1;
  }

  .one-two-column-container {
    grid-template-columns: 1fr 2fr;
    padding: 30px 122px;
  }

  .one-two-column-container-one {
    grid-area: 1 / span 1;
  }

  .one-two-column-container-two {
    grid-area: 1 / span 2;
  }

  .two-one-column-container {
    grid-template-columns: 2fr 1fr;
    padding: 30px 122px;
  }

  .footer-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 30px 122px 65px 122px;
  }
}
