* {
  box-sizing: border-box;
}

/* Global Styles: Colours */

:root {
  --yellow: 245, 218, 7;
  --red: 245, 35, 0;
  --green: 0, 245, 139;
  --blue: 45, 0, 239;
  --grey: 145, 171, 160;
  --warm-olive: 117, 108, 38;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

.yellow {
  color: rgba(var(--yellow));
}
.red {
  color: rgba(var(--red));
}
.green {
  color: rgba(var(--green));
}
.blue {
  color: rgba(var(--blue));
}
.grey {
  color: rgba(var(--grey));
}
.warm-olive {
  color: rgba(var(--warm-olive));
}
.white {
  color: rgba(var(--white));
}
.black {
  color: rgba(var(--black));
}

.yellow-background {
  background-color: rgba(var(--yellow));
}
.red-background {
  background-color: rgba(var(--red));
}
.green-background {
  background-color: rgba(var(--green));
}
.blue-background {
  background-color: rgba(var(--blue));
}
.blue-background-opacity-50 {
  background-color: rgba(var(--blue), 0.5);
}
.blue-background-opacity-25 {
  background-color: rgba(var(--blue), 0.25);
}
.grey-background {
  background-color: rgba(var(--grey));
}
.grey-background-opacity-25 {
  background-color: rgba(var(--grey), 0.25);
}
.warm-olive-background {
  background-color: rgba(var(--warm-olive));
}
.white-background {
  background-color: rgba(var(--white));
}
.black-background {
  background-color: rgba(var(--black));
}

/* Global Styles: Typography */

:root {
  /* Mobile base */
  --font-body-small: 16px;
  --font-body-regular: 18px;
  --font-body-reg-med: 24px; /* Done */
  --font-body-medium: 20px;
  --font-body-large: 32px;
  --font-sm: 18px;
  --font-h6: 18px;
  --font-h5: 28px; /* Done */
  --font-h4: 32px; /* Done */
  --font-h3: 32px; /* Done */
  --font-h2: 48px;
  --font-h1: 64px;
}
@media (min-width: 768px) {
  :root {
    --font-body-small: 16px;
    --font-body-regular: 18px;
    --font-body-reg-med: 24px;
    --font-body-medium: 20px;
    --font-body-large: 32px;
    --font-sm: 18px;
    --font-h6: 20px;
    --font-h5: 32px;
    --font-h4: 36px;
    --font-h3: 48px;
    --font-h2: 64px;
    --font-h1: 112px;
  }
}
@media (min-width: 1280px) {
  :root {
    --font-body-small: 18px;
    --font-body-regular: 20px; /* Done */
    --font-body-reg-med: 28px; /* Done */
    --font-body-medium: 32px;
    --font-body-large: 36px;
    --font-sm: 20px;
    --font-h6: 32px; /* Done */
    --font-h5: 36px; /* Done */
    --font-h4: 48px; /* Done */
    --font-h3: 64px; /* Done */
    --font-h2: 112px;
    --font-h1: 128px;
  }
}

/* Global Styles: Body Text */

body {
  font-family: "bodoni-urw", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: var(--font-body-regular);
}
.body-text-small {
  font-size: var(--font-body-small);
}
.body-text-regular {
  font-size: var(--font-body-regular);
}
.body-text-reg-med {
  font-size: var(--font-body-reg-med);
}
.body-text-medium {
  font-size: var(--font-body-medium);
}
.body-text-large {
  font-size: var(--font-body-large);
}

.body-links-regular {
  font-size: var(--font-body-small);
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Makes the link the same color as the surrounding text */
  cursor: pointer; /* Keeps the hand icon when hovering (optional) */
}

.fa-solid {
  font-size: var(--font-body-small);
  width: 36px;
}

/* Global Styles: Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt-bold", "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
h4 {
  font-size: var(--font-h4);
}
h5 {
  font-size: var(--font-h5);
}
h6 {
  font-size: var(--font-h6);
}

/* Responsive Top Navigation */

/* Add a black background color to the top navigation */
.top-nav {
  overflow: hidden;
  background-color: rgba(var(--white));
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  border-color: blue;
  border-width: 1px;
  border-style: solid;
}

.top-nav-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Style the links inside the navigation bar */
.top-nav a {
  float: left;
  display: block;
  color: rgba(var(--black), 1);
  text-align: center;
  padding: 20px 8px 0px 8px;
  text-decoration: none;
  font-size: 14px;
  font-family: "futura-pt", "Trebuchet MS", sans-serif;
}

/* Change the color of links on hover */
.top-nav a:hover {
  color: rgba(var(--red), 1);
}

/* Add an active class to highlight the current page */
.top-nav a.active {
  color: rgba(var(--red), 1);
  text-decoration: underline;
}

/* Hide the link that should open and close the top-nav on small screens */
.top-nav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  .top-nav a {
    display: none;
  }
  .top-nav a.icon {
    float: left;
    display: block;
  }
}

/* The "responsive" class is added to the top-nav with JavaScript when the user clicks on the icon. This class makes the top-nav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .top-nav.responsive {
    position: relative;
  }
  .top-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Responsive Container */
.container {
  min-width: 402px;
  max-width: 1440px;
  margin: 100px auto;
  width: 100%;
  height: auto;
  border: 1px solid red;
}

.building-page-hero-section {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  align-self: stretch;
}

.building-page-hero-section-left {
  grid-area: 1 / span 12;
}

.building-page-hero-section-right {
  grid-area: 2 / span 12;
}

.building-page-hero-img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
}

.building-page-hero-card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 16px 48px 16px;
}

.want-to-know-more-card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 16px 48px 16px;
}

.three-column-container {
  display: grid;
  padding: 30px 16px;
  row-gap: 10px;
  column-gap: 51px;
  align-self: stretch;
}
.three-column-container-one {
  grid-area: 1 / span 1;
}
.three-column-container-two {
  grid-area: 2 / span 1;
}
.three-column-container-three {
  grid-area: 3 / span 1;
}

.one-two-column-container {
  display: grid;
  padding: 30px 16px;
  row-gap: 10px;
  column-gap: 51px;
  align-self: stretch;
}
.one-two-column-container-one {
  grid-area: 2 / span 1;
}
.one-two-column-container-two {
  grid-area: 1 / span 1;
}

.two-one-column-container {
  display: grid;
  padding: 30px 16px;
  row-gap: 10px;
  column-gap: 51px;
  align-self: stretch;
}
.two-one-column-container-one {
  grid-area: 1 / span 1;
}
.two-one-column-container-two {
  grid-area: 2 / span 1;
}

.footer-container {
  display: grid;
  padding: 30px 16px;
  row-gap: 10px;
  column-gap: 51px;
  align-self: stretch;
}
.footer-container-left {
  grid-area: 1 / span 1;
}
.footer-container-right {
  grid-area: 1 / span 1;
}

.column-container-img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .building-page-hero-section-left {
    grid-area: 1 / span 7;
  }

  .building-page-hero-section-right {
    grid-area: 1 / span 5;
  }

  .three-column-container-one {
    grid-area: 1 / span 2;
  }
  .three-column-container-two {
    grid-area: 2 / span 1;
  }
  .three-column-container-three {
    grid-area: 2 / span 1;
  }

  .one-two-column-container {
    grid-template-columns: 1fr 1fr;
  }
  .one-two-column-container-one {
    grid-area: 1 / span 1;
  }
  .one-two-column-container-two {
    grid-area: 1 / span 1;
  }

  .two-one-column-container {
    grid-template-columns: 1fr 1fr;
  }
  .two-one-column-container-one {
    grid-area: 1 / span 1;
  }
  .two-one-column-container-two {
    grid-area: 1 / span 1;
  }
}

@media (min-width: 1280px) {
  .building-page-hero-card {
    padding: 35px 122px 48px 52px;
  }
  .three-column-container {
    padding: 85px 122px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .three-column-container-one {
    grid-area: 1 / span 1;
  }
  .three-column-container-two {
    grid-area: 1 / span 1;
  }
  .three-column-container-three {
    grid-area: 1 / span 1;
  }

  .one-two-column-container {
    padding: 30px 122px;
    grid-template-columns: 1fr 2fr;
  }
  .one-two-column-container-one {
    grid-area: 1 / span 1;
  }
  .one-two-column-container-two {
    grid-area: 1 / span 2;
  }

  .two-one-column-container {
    padding: 30px 122px;
    grid-template-columns: 2fr 1fr;
  }
}
